@font-face {
    font-family: 'font04783264c0a153064c9fd75c28698b5d';
        
        src:    url('https://nomail.com.ua/files/eot/04783264c0a153064c9fd75c28698b5d.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/04783264c0a153064c9fd75c28698b5d.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/04783264c0a153064c9fd75c28698b5d.woff2') format('woff2');
}

@font-face {
    font-family: 'font05ada5bd099c819f28fbe4a1de2f0a61';
        
        src:    url('https://nomail.com.ua/files/eot/05ada5bd099c819f28fbe4a1de2f0a61.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/05ada5bd099c819f28fbe4a1de2f0a61.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/05ada5bd099c819f28fbe4a1de2f0a61.woff2') format('woff2');
}